@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1920/1080");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;

}

.container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

button:hover {
    transform: scale(1.08);
    opacity: 0.9;
}

#rock {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: white;
}

#paper {
    background: linear-gradient(135deg, #00c9ff, #92fe9d);
    color: white;
}

#scissors {
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.my-score span {
    color: #00c853;
}

.machine-score span {
    color: #ff1744;
}